.warning {
  color: red;
  font-size: 32px;
  width: 100%;
  animation: fade 1s;
}
.newWalletID {
  margin-left: 4px;
  margin-right: 4px;
  background-color: #222831;
  color: white;
  font-size: 32px;
  overflow: scroll;
  max-width: 1000px;
  padding: 32px;
  border-radius: 32px;
  animation: fade 1s;
}
.box {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.centerText {
  width: 100%;
  color: #393e46;
  font-weight: bold;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
