.sendBody {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 16px;
}
.inputSendID {
  height: 48px;
  width: 100%;
  background-color: #eeeeee;
  border: none;
  font-size: 20px;
  border-radius: 24px;
  padding-left: 8px;
  padding-right: 8px;
  outline: none;
}
.inputSendAmount {
  height: 48px;
  width: 10%;
  background-color: #eeeeee;
  border: none;
  font-size: 20px;
  border-radius: 24px;
  outline: none;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 8px;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.satoshis {
  color: #fd9200;
  margin-left: 16px;
}
.btnL {
  width: 256px;
  height: 64px;
  margin-left: 16px;
  margin-top: 16px;
  background-color: #393e46;
  color: white;
  font-size: 32px;
  border-radius: 32px;
  border: none;
  outline: none;
}
