.sendBody {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 16px;
}
.inputSendID {
  height: 32px;
  width: 50%;
  background-color: #eeeeee;
  border: none;
  font-size: 20px;
  border-radius: 16px;
  padding-left: 4px;
  padding-right: 4px;
  outline: none;
}
