.sendBody {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 16px;
}
.inputSendID {
  height: 48px;
  width: 100%;
  background-color: #eeeeee;
  border: none;
  font-size: 20px;
  border-radius: 24px;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
}
.inputSendAmount {
  height: 48px;
  width: 10%;
  background-color: #eeeeee;
  border: none;
  font-size: 20px;
  border-radius: 24px;
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 8px;
}
.inputs {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.satoshis {
  color: #fd9200;
  margin-left: 16px;
  margin-top: 26px;
}
.btnSend {
  width: 512px;
  height: 64px;
  margin-left: 16px;
  margin-top: 16px;
  background-color: #393e46;
  color: white;
  font-size: 32px;
  border-radius: 32px;
  border: none;
  outline: none;
  transition: 1s;
}
.btnSend:hover {
  border-bottom: 4px solid black;
}
@media only screen and (max-width: 720px) {
  .btnSend {
    width: 80%;
  }
}
